select{
    cursor: pointer;
    width:100%;
    margin:20px,10px;
    border:2px solid blue;
    padding:1%;
    font-size:large;
    font-weight: 100;
    background-color:lightgreen;
    color:red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
option{
    width:100%;
    background-color: white;
    text-align: center;
    color:blue;
}