</div>
</div>
</div><!--/.container-->
<br><br><br>
  <hr>
  <hr>
  <p align="center" class="text-content">&COPY;CAM SHOPPING CART</p>
     
<script src="/js/main.js" ></script>

  <script src= 
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"> 
</script> 

    
</body> 
</html> 